:root{
    --color-negative:#3A4042;
    --color-zero:#ffffff;
    --color-first:#F25A70;

    --color-second:#EEEEEE;
    --color-third:#9b9b9b;
    --color-fourth:#707070;
    --color-fifth:#828282;

    --color-sixth:#fffcee;
    --color-seventh:#f4f1e4;
    --color-eigth:#eae6da;
}