.footer{
  position:absolute;
  background-color:#000;
  display:flex;
  align-items:center;
  justify-content: center;
  color:#fff;
  border-top: 2px solid #f44336;
  width:100%;
  padding-block:0.5ren;

}

.footer h2{
  font-weight:500;
  font-size:1rem;
}
